@import url(http://fonts.googleapis.com/css?family=Raleway);
body {
  background-color: #FFFFFF;
}
#header {
  padding-top: 10px;
  padding-bottom: 20px;
  background: #009FFF;
}
.title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: #FFFFFF;
}
.title h1 {
  font-family: "Raleway";
  font-weight: bold;
  font-size: 46px;
}
.navigate {
  padding-top: 10px;
  text-align: center;
}
.navigate a {
  margin-left: 20px;
  margin-right: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
}
.navigate a::before, .navigate a::after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}
.navigate a::before {
  margin-right: 10px;
  content: '[';
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
}
.navigate a::after {
  margin-left: 10px;
  content: ']';
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px);
}
.navigate a:hover::before, .navigate a:hover::after, .navigate a:focus::before, .navigate a:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}
.intro {
  font-family: "Raleway";
  font-size: 16px;
  text-align: center;
  padding-top: 30px;
}
.projects {
  padding-bottom: 15px;
}
.projects h1 {
  font-family: "Raleway";
  font-weight: bold;
  letter-spacing: 4px;
}
.stripe {
  background-color: #f3f3f3;
  border-top: 1px solid #DBDBDB;
  border-bottom: 1px solid #DBDBDB;
  margin-bottom: 20px;
}
.project-header {
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Raleway";
}
.project-header a {
  border-radius: 0;
}
.project-header h2 {
  font-family: "Raleway";
  font-weight: bold;
  color: #000000;
  margin-top: 5px;
  margin-bottom: 0;
  letter-spacing: 4px;
}
.project-links {
  text-align: center;
}
.project-body {
  font-family: "Raleway";
  font-size: 15px;
  margin-bottom: 30px;
}
.project-body p {
  text-align: center;
}
.project-body img {
  margin: 5px;
  width: 48%;
}
