<header class="bp-header cf">
  {% if page.title == null %}
    <span>{{ site.title }}</span>
    <h1>{{ site.description }}</h1>
    <nav>
      <a class="bp-icon bp-icon-child" id="about_me_button" data-info="about me"><span>about me</span></a>
      <a href="{{ site.twitter_username | prepend: "https://twitter.com/" }}" class="bp-icon bp-icon-twitter" data-info="@{{ site.twitter_username }}" target="_blank"><span>@{{ site.twitter_username }}</span></a>
      <a href="{{ site.github_username | prepend: "https://github.com/" }}" class="bp-icon bp-icon-twitter" data-info="{{ site.github_username }}" target="_blank"><span>@{{ site.github_username }}</span></a>
      <a href="mailto:{{ site.email }}" class="bp-icon bp-icon-email" data-info="send me e-mail"><span>send me e-mail</span></a>
    </nav>
  {% endif %}
</header>
