@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);

body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: inherit !important;
}

.navbar .container, .container {
    width: 940px;
}

.navbar-inner {
    height: 65px;
}

.navbar-inner .container {
    padding-top: 10px;
}

.navbar .brand, .navbar .nav > li > a {
    color: #fff;
}

.navbar .brand {
    text-shadow: 0 1px 1px black;
    font-size: 40px;
    font-weight: bold;
}

.navbar .brand:hover {
    color: #fff;
    font-weight: bold;
}

.navbar .navbar-inner {
    background-color: #517FA4;
    background-image: -moz-linear-gradient(top, #009FFF, #009FFF);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#009FFF), to(#009FFF));
    background-image: -webkit-linear-gradient(top, #009FFF, #009FFF);
    background-image: -o-linear-gradient(top, #009FFF, #009FFF);
    background-image: linear-gradient(to bottom, #009FFF, #009FFF);
    background-repeat: repeat-x;
    border: 0px;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#009FFF', endColorstr='#009FFF', GradientType=0);
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

.navbar .navbar-inner {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.navbar .nav>li>a {
    color:#FFF!important;
    font-size:1.1em;
    text-shadow:0 -1px 0 rgba(0,0,0,0.9);
    font-weight:500;
    -webkit-transition:background .3s linear;
    -moz-transition:background .3s linear;
    -ms-transition:background .3s linear;
    -o-transition:background .3s linear;
    transition:background .3s linear;
    background-image:url(../images/navbar-active-item.png);
    background-position:center 70px;
    background-repeat:no-repeat;
    top:0;
    position:relative;
    padding:12px 20px 23px;
}

.navbar .nav>li>a:hover {
    background-image:url(../images/navbar-active-item.png);
    background-position:center bottom;
    background-repeat:no-repeat;
    top:0;
    position:relative;
}

.affix {
    margin-top: -70px;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
    color: #fff;
    background-color: #08C;
}

.nav-tabs.nav-stacked > li:first-child > a {
    -webkit-border-top-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    border-top-right-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    border-top-left-radius: 0px;
}

.nav-tabs.nav-stacked > li:last-child > a {
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-bottom-left-radius: 0px;
}
